.container {
  width: auto;
  height: auto;
}
.row {
  display: flex;
  width: auto;
}
.yellow,
.red,
.blue {
  display: flex;
}
.yellow .content {
  margin: 10px;
  background-color: yellow;
  height: 200px;
}
.red .content {
  margin: 10px;
  background-color: red;
  height: 200px;
}
.blue .content {
  margin: 10px;
  background-color: blue;
  height: 200px;
}

/* min width :1024 */
@media screen and (min-device-width: 1024px) {
  .yellow .content,
  .red .content,
  .blue .content {
    flex: 1 1 auto;
  }
}

/* min width:768 */
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .yellow .content {
    flex: 1 1 auto;
  }
  .red .content {
    flex: 1 1 auto;
  }
  .blue {
    flex-direction: column;
  }
}
/* min width:320-767 */
@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .blue {
    flex-direction: column;
  }
  .yellow {
    flex-direction: column;
  }
  .red .content {
    flex: 1 1 auto;
  }
}
