body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  color: cornflowerblue;
  font-size: 50px;
}
label {
  opacity: 0.6;
}
.profile-info {
  margin: 10px;
}
.profile-info label {
  font-size: 13px;
}
.profile-info label,
.profile-info strong {
  display: block;
}
img {
  margin: 5px;
  padding: 5px;
  height: 300px;
  width: 300px;
  border-radius: 10px;
}
